:root {
  --main-font-family: 'Roboto', sans-serif;
  --color-text-black: rgb(0, 0, 0);
  --color-bgc-orange: rgb(255, 107, 1);
  --color-bgc-white: rgb(255, 255, 255);
  --color-text-grey: rgb(140, 140, 140);
  --color-green: rgb(48, 173, 69);

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
  --animation-duration-observer: 1s;
  --team-shadow: 0px 0px 9px 5px rgba(34, 60, 80, 0.2);
}